<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseGiphyURL</key>
	<string>https://api.giphy.com/v1</string>
	<key>APIKey</key>
	<string>xn3bAX73bXmSCoR3ZZ0ISDRebma3tm3c</string>
</dict>
</plist>
